!!!
%html{"ng-app"=>"offerPad"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Offer Padmapper"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag :all
    = csrf_meta_tag
    = yield(:head)

  %body
    = yield

    = javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"
    = javascript_include_tag :application
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"

:css
  html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
  }

